{% extends 'base.html'%} {% block bodyblock %}

<br />

<div class="container">
    <br />

    <style>
        input {
            background-color: #4caf50;
            border: none;
            border-radius: 4px;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            margin: 4px 30px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        input {
            background-color: white;
            color: #1b9bff;
            border: 2px solid #1b9bff;
        }

        input:hover {
            background-color: #1b9bff;
            color: white;
        }
    </style>

    <form action="#" method="POST" enctype="multipart/form-data">
        <input type="file" id="upload" name="image" required="true" />
        <input class="submitf" type="submit" value="upload and predict" />
    </form>
</div>

<br />
<br />

{% if fileupload %}
<div class="flex-container">
    <div class="row" style="display: flex; justify-content: center">
        <div class="col-md-6" style="margin-right: 20px">
            <img src="{{ url_for('static', filename='uploads/') }}{{ img_name }}" width="{{ width }}" height="300" />
        </div>

        <div class="col-md-6">
            <img src="{{ url_for('static', filename='predicted/')}}{{ img_name }}" width="{{ width }}" height="300" />
        </div>
    </div>
</div>
{% endif %} {% endblock %}
